.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color:rgb(245, 242, 242);
}
.text_name{
    font-size: 18px;
    font-weight: 600;
}
.text_number{
    font-size: 15px;
    font-weight: 600;
}
.button_container{
 display: flex;
 margin-top: 10px;

}
.button{
    width: 70px;
    height: 30px;
    font-size: 14px;
}
.button:last-child{
    margin-left: 5px;
   
}